<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">
            <img class="sidebar-logo" src="{{ site.baseurl }}public/img/logo-white-leather.png" />
        </a>

        <div id="about-info">
          <p class="info-headline">Developer & Designer</p>
          <p>Web developer <a target="_blank" href="https://twitter.com/searchmonitor">@thesearchmonitor</a><br>
          Javascript and PHP software engineer</p>
        </div>

        <a href="#" id="menu-toggle">&#x2261;</a>
        <!--<small>{{ site.tagline }}</small>-->
    </div>

    <nav id="sidebar-nav" class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ url }}/about">About</a>
      <a class="sidebar-nav-item" href="{{ site.author.url }}/#portfolio">Portfolio</a>
    </nav>

    <!--<span class="footer">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</span>-->
  </div>
</div>
