<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="layout">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">

       <a href="#" id="trigger-overlay"><i class="fa fa-search fa-lg search-icon"></i></a>

      <div class="container content">
        {{ content }}
      	{% include comments.html %}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <!--
    {% for i in (1..10) %}
      <img src="photos/{{ i }}.png"><br>
    {% endfor %}
    -->

   <!-- open/close -->
    <div class="overlay overlay-hugeinc">
      <button type="button" class="overlay-close"><i class="fa fa-close"></i></button>
      <div class="search-container">
        <input id="search-input" placeholder="Search..." />
        <div id="results-container"></div>
      </div>
    </div>

    {% include google_analytics.html %}
  </body>
</html>
