---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}
	<ul class="tag_list_in_post">
	{% for tag in page.tags %}
		<li class="inline tag_list_item">
			<a class="tag_list_link" href="/tags/#{{ tag }}">{{ tag }}</a>
		</li>
	{% endfor %}
	<p id="post-meta">{{ tags_content }}</p>
	</ul>
  </span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <hr>
  <h2>Popular Posts</h2>
   <ul class="related-posts popular">
   		<li><h3><a href="/2015/01/27/getting-started-with-slim-framework/">Getting Started with Slim Framework - Creating a RESTful API</a></h3></li>
      	<!--<li><h3><a href="/2015/08/07/build-a-local-search-app-with-geo/">Build a local search based app with geolocation</a></h3></li>-->
      	<li><h3><a href="/2015/07/06/simplestore/">simpleStore - Open-source online store with no database or backend</a></h3></li>
  </ul>

  <div class="updates">
    <hr>
    <span>Want updates? <a href="http://eepurl.com/bpduc5" data-featherlight data-featherlight-type="iframe">Subscribe to get the latest goodies</a></span>
  </div>
</div>
